/* ----------- MAIN STYLE PAGE ----------- */
/* ----------- All semantic elements should be styled here */

/* * {
    border: 1px solid black;
} */

body {
    background-color: rgb(227, 255, 205);
    margin: 0;
}

.container {
    min-height: 100vh;
}