/* ----------- MAIN STYLE PAGE ----------- */
/* ----------- All semantic elements should be styled here */

/* * {
    border: 1px solid black;
} */

:root {

    --a1: #323b32;
    --a2: #4A5859;
    --a3: #eeffe5;
    --a4: #F4B860;
    --a5: #C83E4D;
    
    --fontHeaders: 'Libre Franklin', sans-serif;
    --fontTitle: 'Pacifico', cursive;
}

body {
    margin: 0;
    background-color: var(--a3);
    color: var(--a1);
}


.container {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--a3);
    padding: 0 5px;
}

a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    /* color: var(--a3); */
}

.outerForm {
    padding: 0 5px;
}