/* */

.instructionField {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.instructionField:hover, .instructionField:focus-visible, .instructionField:active  {
    border: 2px solid var(--a4)
}

.instructionWrapper {
    display: flex;
    flex-direction: column;
}

.createRecipeSubmit {
    width: 100%;
    margin: 0 auto;
}
/* 
.measureField, .ingredientField {
    width: 100%;
} */