.instructionField, .ingredientField, .measureField, .nameField, .descriptionField {
    background-color: white
}

.instructionField {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.instructionField:hover, .instructionField:focus-visible, .instructionField:active  {
    border: 2px solid var(--a4)
}

.instructionWrapper {
    display: flex;
    flex-direction: column;
}

.createRecipeSubmit {
    width: 90%;
}