footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--a3);
    background-image: linear-gradient(var(--a1), #191c1e);
    height: 100px;
    padding: 20px;
}

footer p a {
    color: var(--a3);
}