header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 20px;
}

.headerLeft {
    display: flex
}

.headerNav {
    display: flex;
}

.navigationBox {
    background-color: rgb(255, 255, 143);
    overflow: hidden;
}

.navList {
    width: 100%;
}
