header {
    background-image: linear-gradient(#191c1e, var(--a1));
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(#191c1e, var(--a1));
    color: var(--a3);
    flex-wrap: wrap-reverse;
    max-width: 1500px;
    margin: 0 auto;
}

.headerLeft {
    display: flex;
}

.titleLink {
    font-family: var(--fontTitle);
    font-size: 2.5rem;
}

.titleLink,
.menuButton svg {
    color: var(--a3)
}

.headerNav {
    display: flex;
}

.navigationBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: var(--a2);
    color: var(--a3);
    height: 100%;
    font-size: 1.2rem;
}

.navlink {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    padding: 20px 50px;

}

.navlink:active, .navlink:visited {
    color: var(--a3);
    font-weight: bold;
}

.headerAvatar {
    border: 5px solid var(--a3);
    background-color: var(--a3);
    box-shadow: 0 10px 8px -7px black;
    margin: 10px;
}

.menuButton svg {
    font-size: 40px;
}

.avatarContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .headerContent {
        justify-content: center;
    }

}