.homeHeader, .homePageUserList, .recipeListInner {
    max-width: 1750px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.profileListWrapper {
    display: flex;
}

.homeUserProfile {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--a4);
    justify-content: space-between;
    text-align: center;
    align-items: center;
    opacity: .9;
    max-width: 600px;
}

.gridContainer {
    justify-content: center;
}

.gridWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profileCard {
    border: 1px solid black;
    margin: 10px auto;
    width: 90%;
    box-shadow: 0 10px 8px -7px black;
}

.cardMedia {
    background-color: black;
}

.homeUserBio {
    padding: 10px;
    text-align: left;
    line-height: 1.7rem;
}

.bioMetrics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 5px 0;
}

.profileCardSection {
    padding: 10px 5px;
}

.bioMetrics p {
    padding: 0 10px;
    margin: 0;
}
.profileCardLink {
    color: var(--a2);
    font-style: italic;
}

.profileCardLink:visited, .profileCardLink:active  {
    color: var(--a4);
}

.homePageImageList {
    background-image: linear-gradient(#191c1e, var(--a1));
    text-align: center;
    color: var(--a3);
    padding: 20px 0;
    border-radius: 20px;
}

.homeImageListItem {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 8px -7px black;
    transition: transform 0.4s ease-in-out;
}

.homeImageListItem:hover {
    transform: scale(1.03);
  }

.homeHeader {
    padding: 40px;
    max-width: 1750px;
    text-align: center;
    margin: 0 auto;
}

.homeTitle {
    text-align: center;
    font-family: var(--fontHeaders);
}

.homeBio {
    font-family: var(--fontHeaders);
    font-size: 1.2rem;
    line-height: 3rem;
}

.homeCTA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepagebutton:hover {
    background-color: var(--a2);
    border: 1px solid var(--a2);
    cursor: pointer;
}

.homepagebutton a:visited, .homepagebutton a:hover, .homepagebutton a:link, .homepagebutton a:active {
    color: var(--a3);
}

.buttonWrapper {
    width: 100%;
    margin: 0;
    margin-top: 5px;
}

/* Media Queires */
@media screen and (max-width: 576px) { 
    .homeHeader {
        padding: 5px;
    }

    .homeBio {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .homepagebutton {
        width: 100%;
        margin: 0;
    }
}