.profileHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    max-width: 600px;
    align-items: center;
}

.profileAvatar {
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 20px;
}

.recipeImg {
    height: 300px;
}

/* ----------- CREATE RECIPE FORM ----------- */

.createRecipeForm {
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(178, 178, 178);
    border: 1px solid black;
    border-radius: 10px;
}

.listRow {
    width: 100%;
}

.titleAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}
.recipeGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ingredientField {
    width: 70%;
}

.measureField {
    width: 30%;
}