.profileHeader {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    align-items: center;
    background-image: linear-gradient(#191c1e, var(--a1));
    color: var(--a3);
    border-radius: 20px;
    box-shadow: 0 10px 8px -7px black;
}

.profileHeaderText {
    padding: 30px;
    text-align: center;
 }

.profileAvatar {
    height: 300px;
    background-color: var(--a2);
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 0 10px 8px -7px black;
}

.profileEditIcons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px;
}

.editIcon, .deleteIcon {
    color: var(--a3);
}

.recipeImg {
    height: 300px;
}

/* ----------- Update Profile -------------- */
@media screen and (max-width: 600px) {
    .updateProfileButton {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

}

/* ----------- CREATE RECIPE FORM ----------- */
.createRecipeForm {
    padding: 10px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    color: var(--a30);
    border-radius: 10px;
}

.listRow {
    width: 100%;
}

.titleAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}
.recipeGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ingredientField {
    width: 70%;
}

.measureField {
    width: 30%;
}

/* --------------- USER RECIPES --------------- */
.recipeListWrapper, .createRecipeWrapper {
    background-image: linear-gradient(#191c1e, var(--a1));
    border-radius: 20px;
    margin-bottom: 20px;
}