.headerWrapper {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(189, 189, 189);
}

.headerImg {
    height: 500px;
    width: auto;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.ingAndMeasureWrapper {
    background-color: rgb(176, 255, 255);
}

.ingRow {
    display: flex;
    justify-content: space-between;
}

/* --------------------- Update Recipe Modal ---------------------*/
.updateRecipeModal {
    text-align: center;
}

.ingAndMeasureRow, .instructionRow {
    display: flex;
}