.headerWrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* background-color: whitesmoke; */
    background-image: linear-gradient(white, var(--a3), white);
    /* background-image: linear-gradient(var(--a3), white, var(--a3)); */
    border: 1px solid black;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 10px 8px -7px black;
    overflow: hidden;
    max-width: 1500px;
}

.headerTitleDesc {
    background-color: var(--a2);
    color: var(--a3);
    padding: 30px;
    border-bottom: 3px solid var(--a4);
    font-family: var(--fontHeaders);
}

.testWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel {
    height: 100%;
    width: 100%; /* Adjust width to fit the content */
    max-width: 800px;
}

.singleRecipeHeroImage {
    max-width: 98%;
    max-height: 600px;
    width: auto; /* Make sure the image doesn't exceed the container's width */
    border-radius: 20px;
    box-shadow: 0 10px 8px -7px black;
    margin: 20px auto; /* Center the image horizontally */
    object-fit: cover;
    object-position: center;
}

.headerImg {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 8px -7px black;
    border: 1px solid linear-gradient(#191c1e, var(--a1));
}

.recipeTitle, .recipeDesc {
    padding: 0;
    margin: 0 auto;
}

.ingAndMeasureWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-image: linear-gradient(#191c1e, var(--a1), #191c1e);
    color: black;
    padding: 30px 0;
    border-radius: 10px;
}

.ingAndMeasureContainer {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 8px -7px black;
    border: 1px solid linear-gradient(#191c1e, var(--a1));
    color: var(--a2);
    text-align: center;
    border: 1px solid var(--a4);
}

.instructionsContainer {
    background-color: white;
    border: 1px solid var(--a4);
    padding: 30px;
    box-shadow: 0 10px 8px -7px black;
    border-radius: 10px;
    width: 100%;
}


.ingAndMeasureHeader {
    background-color: white;
    border-bottom: 1px solid var(--a2);
    font-weight: bold;
}

.ingAndMeasureItem {
    padding: 10px 0;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.gridInstruction {
    justify-content: flex-start;
}

.outerWrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

.sectionTitle {
    text-align: center;
    padding: 10px ;
    color: var(--a3);
}

.instructionTitle {
    color: var(--a1);
}

.ingRow {
    display: flex;
    justify-content: space-between;
}

.ingAndMeasureHeader {
    border-bottom: 1px solid var(--a1);
    font-size: 1.1rem;
    font-weight: bold;
}

.modalCloseIcon {
    float: right;
    cursor: pointer;
}

/* --------------------- Update Recipe Modal ---------------------*/
.modal-body {
    width: 90%;
}


.modalSection, .formSection {
    border: 1px solid var(--a1);
    border-radius: 10px;
    box-shadow: 0 10px 8px -7px black;
    padding: 15px;
    margin: 30px auto;
    background-color: whitesmoke;
}

.modalTitle {
    font-family: var(--fontTitle);
}

.modalSectionTitle {
    font-family: var(--fontHeaders);
}

.recipeEditbuttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.updateRecipeModal {
    text-align: center;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 95vh;
    overflow-y: auto;
    max-width: 1000px;
}

.ingAndMeasureRow, .instructionRow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(193, 193, 193);
    /* border-radius: 5px; */
    margin: 10px auto;
    padding: 10px 0;
    flex-wrap: wrap;
}

.removeButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editImagesWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.editImages {
    height: auto;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--a1);
}

.deleteIcon {
    position: absolute;
    right: 0;
    color: var(--a3);
    padding-top: 15px;
    cursor: pointer;
}

.hidden {
    opacity: .5;
}

.modalSubmitButton {
    width: 100%;
    margin: 0;
}

.imagePreview {
    height: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 10px 8px -7px black;
}

@media screen and (max-width: 600px) {
    .recipeEditButton {
        width: 100%;
    }
}

