.headerWrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* background-color: whitesmoke; */
    background-image: linear-gradient(white, var(--a3), white);
    /* background-image: linear-gradient(var(--a3), white, var(--a3)); */
    border: 1px solid black;
    max-width: 1250px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 10px 8px -7px black;
    overflow: hidden;
}

.headerTitleDesc {
    background-color: var(--a2);
    color: var(--a3);
    padding: 30px;
    border-bottom: 3px solid var(--a4);
    font-family: var(--fontHeaders);
}

.singleRecipeHeroImage {
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 8px -7px black;
    margin: 20px;
}

.headerImg {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 8px -7px black;
    border: 1px solid linear-gradient(#191c1e, var(--a1));
}

.recipeTitle, .recipeDesc {
    padding: 0;
    margin: 0 auto;
}

.ingAndMeasureWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-image: linear-gradient(#191c1e, var(--a1), #191c1e);
    color: black;
    padding: 30px 0;
}

.ingAndMeasureContainer {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 8px -7px black;
    border: 1px solid linear-gradient(#191c1e, var(--a1));
    color: var(--a2);
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid var(--a4);
}

.instructionsContainer {
    background-color: white;
    border: 1px solid var(--a4);
    padding: 30px;
    box-shadow: 0 10px 8px -7px black;
    border-radius: 10px;
    font-size: 1.2rem;
}

.ingAndMeasureHeader {
    background-color: white;
    border-bottom: 1px solid var(--a2);
    font-weight: bold;
}

.ingAndMeasureItem {
    padding: 10px 0;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.gridInstruction {
    justify-content: flex-start;
}

.outerWrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.sectionTitle {
    text-align: center;
    padding: 10px ;
    color: var(--a3);
}

.instructionTitle {
    color: var(--a1);
}

.ingRow {
    display: flex;
    justify-content: space-between;
}

.ingAndMeasureHeader {
    border-bottom: 1px solid var(--a1);
    font-size: 1.1rem;
    font-weight: bold;
}

/* --------------------- Update Recipe Modal ---------------------*/
.modalSection {
    border: 1px solid var(--a1);
    border-radius: 10px;
    box-shadow: 0 10px 8px -7px black;
    padding: 15px;
    margin: 30px auto;
    background-color: whitesmoke;
}

.modalTitle {
    font-family: var(--fontTitle);
}

.modalSectionTitle {
    font-family: var(--fontHeaders);
}

.recipeEditbuttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.updateRecipeModal {
    text-align: center;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 80vh;
    overflow-y: auto;
}

.ingAndMeasureRow, .instructionRow {
    display: flex;
}

.editImagesWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.editImages {
    height: 175px;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--a1);
}

.deleteIcon {
    position: absolute;
    right: 0;
    color: var(--a3);
    padding: 10px;
    cursor: pointer;
}

.hidden {
    opacity: .5;
}

.modalSubmitButton {
    width: 90%;
}

/* when I clicke on the delte button for an image, I want to have an opacity displayed to indicate that the image is now staged for delete since there is no indication at the moment that the button has been clicked */